/*Colores*/
:root {
  --color-primary: #0f172a;
  --color-primary-soft: #1e293b;

  --color-background: #ffffff;
  --color-background-soft: #f8fafc;

  --color-text: #0f172a;
  --color-text-light: #64748b;

  --color-accent: #f97316;
  --color-accent-hover: #ea580c;

  --color-border: #e2e8f0;
}


/*Global Styles*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--color-text);
  background: var(--color-background);
}

header {
  background: var(--color-primary);
  padding: 1rem;
}

/* Enlaces */
a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-hover);
}

/* Navegación */

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Logo menu */
.logo img {
  height: 70px;
  display: block;
filter: invert(1);

}

/*Espacio lateral*/
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/*TOC */
.toc {
  position: sticky;
  top: 1rem;
  margin-bottom: 2rem;
  z-index: 10;
}

/* BOTÓN (summary) */
.toc summary {
  display: inline-block;
  background: var(--color-primary);
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  list-style: none;
  transition: background 0.2s ease;
}

/* Hover botón */
.toc summary:hover {
  background: var(--color-primary-soft);
}

/* Quitar flecha por defecto */
.toc summary::-webkit-details-marker {
  display: none;
}

/* LISTA */
.toc ul {
  margin-top: 0.8rem;
  padding: 1rem;
  background: var(--color-background-soft);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  list-style: none;
}

/* ITEMS */
.toc li {
  margin: 0.5rem 0;
}

/* LINKS */
.toc a {
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.2s ease;
}

/* Hover links (clave UX) */
.toc a:hover {
  color: var(--color-accent);
}