<header>
  <nav>
    <ul>
      <li>  <a href="/" class="logo">
      <img src="/public/images/logo-the-fit-home.svg" alt="The Fit Home" />
    </a></li>
      <li><a href="/estructura/">Estructura</a></li>
      <li><a href="/maquinas/">Máquinas</a></li>
      <li><a href="/cardio/">Cardio</a></li>
      <li><a href="/peso-libre/">Peso libre</a></li>
      <li><a href="/movilidad/">Movilidad</a></li>
      <li><a href="/accesorios/">Accesorios</a></li>
    </ul>
  </nav>
</header>