---
import '../styles/global.css';

const {
  title = "The Fit Home",
  description = "Tu gimnasio en casa optimizado"
} = Astro.props;

const url = new URL(Astro.request.url);
const canonical = url.href;

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
  </head>

  <body>
  <Header />
    <slot />
</body>
</html>