---
import '../styles/global.css';

const {
  title = "The Fit Home",
  description = "Tu gimnasio en casa optimizado"
} = Astro.props;

const url = new URL(Astro.request.url);
const canonical = url.href;
const faq = Astro.props.faq || [];


import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
  </head>

  <body>
  <Header />
    <slot />
    {faq.length > 0 && (
  <script type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": faq.map(item => ({
      "@type": "Question",
      "name": item.question || '',
      "acceptedAnswer": {
        "@type": "Answer",
       "text": item.answer
  ?.map(block =>
    block.children?.map(child => child.text).join('')
  )
  .join('\n') || ''
      }
    }))
  })} />
)}
</body>
</html>